* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f9;
}

.container {
  width: 350px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input:focus {
  border-color: #4A90E2;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #4A90E2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #357ABD;
}

/* Error box below button */
small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: red;
  visibility: hidden; /* hide by default, show with JS */
}

input:invalid + small {
  visibility: visible;
}
#resultBox{
display: block;
  display: block;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  font-weight: 800;
  color:green;
  visibility: hidden; 
}