*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
    background-color: #222;
}
div{
    display: inline-block;
    
   
    background-color: #222;
}
input{
    height: 50px;
    width: 300px;
    background-color: #555;
    color: antiquewhite;
    font-weight: 700;
    font-size: 30px;
    
}
.outer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    max-height: fit-content;
}
.btn{
    height:50px;
    width:150px;
    background-color: rgb(31, 147, 31);
    border-radius: 15px;
    color: black;
    transition: 0.3 color ease;
    font-weight: 600;
}
.btn:hover{
    background-color:green;
    cursor: pointer;
    
}
#main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    
}
.card{
    max-width: 300px;
    display: inline-block;
    height: 370px;
    background-color: #555;
    border-radius: 10px;
    

    
}
.prf{
    height: 150px;
    width:150px;
    border-radius: 50%;
    
    margin-top: 30px;
    margin-left: 15px;
    overflow: hidden;

}
img{
    height: 100%;
    width:100%;
    object-fit: cover;
    
}
h3{
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 30px;
}
h5{
    padding: 10px;
    margin-left: 20px;
    font-size: 25px;
}
p{
    
    margin: 10px;
    padding: 10px;
    
}